*.DS_Store
sqliteassethelper-core/local.properties
sqliteassethelper-core/bin/
sqliteassethelper-core/gen/
sqliteassethelper-example-v1/local.properties
sqliteassethelper-example-v1/bin/
sqliteassethelper-example-v1/gen/
sqliteassethelper-example-v2/local.properties
sqliteassethelper-example-v2/bin/
sqliteassethelper-example-v2/gen/
sqliteassethelper-example-v3/local.properties
sqliteassethelper-example-v3/bin/
sqliteassethelper-example-v3/gen/
